:root {
    --primary-color: #161816;
    --secondary-color: #090C08;
    --primary-bar-color: #ff8b2c;
    --secondary-bar-color: #A6A6A8;
    --details-color: white;
}

html, body, .container {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body {
    
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: var(--primary-color);
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));

    position: relative;
}

.music {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cover {
    width: 24rem;
    height: 24rem;

    border-radius: 0.6rem;
    background-color: var(--primary-color);

    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.name {
    color: white;
    font-size: 2rem;

    width: 100%;
    text-align: center;

    margin-top: 1rem;
    margin-bottom: 2rem;
}

.player-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 88px;
    background-color: var(--secondary-color);
}

.player_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 12rem;
    height: 100%;
}

.retroceder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    cursor: pointer;
}

.retroceder i {
    font-size: 1.6em;
    color: var(--primary-bar-color);
}

.playBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
}

i {
    color: var(--primary-bar-color);
}

.playBtn i {
    font-size: 2.6em;
}

.playBtn:hover {
    cursor: pointer;
}

.avancar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.avancar i {
    font-size: 1.6em;
}

.avancar:hover {
    cursor: pointer;
}

.progress_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: #A6A6A8;
    height: 6px;
    width: 40%;
    margin-bottom: 20px;
    border-radius: 12px;
    color: white;
}

.progress_bar:hover {
    cursor: pointer;
}

.progress {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    height: 4px;
    width: 0;
    background-color: var(--primary-bar-color);
    border-radius: 12px;
}   

.current-time {
    position: absolute;
    left: -60px;
}

.duration-time {
    position: absolute;
    right: -60px;
}

.volume {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 30px;
}

.volume-icon {
    position: absolute;
    font-size: 1.2em;
    left: -24px;
}

.volume-bar {
    display: flex;
    align-items: center;
    background-color: #A6A6A8;
    width: 100%;
    height: 0.2rem;
    border-radius: 12px;
}

.volume-bar:hover {
    cursor: pointer;
}

.current-volume {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary-bar-color);
    height: 100%;
    width: 0;
    border-radius: 12px;
}


